
a,
a:link,
a:visited,
a:hover,
a:active {
  color: $white;
  text-decoration: none;
}

h1 {
  font-size: $h1;
  font-family: 'American Captain', sans-serif;
}

h2 {
  font-size: $h2;
  font-family: 'American Captain', sans-serif;
}

h3 {
  font-size: $h3;
  font-family: 'American Captain', sans-serif;
}

h4 {
  font-size: $h4;
  font-family: 'American Captain', sans-serif;
}

h5 {
  font-size: $h5;
  font-family: 'American Captain', sans-serif;
}

h6 {
  font-size: $h6;
}
