//Use this values for mobile > to desktop
$mobile: 576px;
$tablet: 768px;
$laptop: 992px;
$desktop: 1200px;
$desktop-large: 1400px;
$desktop-1600: 1600px;
$fullHD: 1920px;

$page: 1920px;

$h1: 130px;
$h2: 120px;
$h3: 110px;
$h4: 100px;
$h5: 56px;
$h6: 32px;

$white: #ffffff;
$blue: #0058dd;
$green: #00dda8;
$light: #f2f2f2;
$gray: #bdbdbd;
$black: #000000;
$dark: #1a191a;
$dark-2: #161616;
$dark-3: #373737;

$card-green: rgba(0, 221, 168, 0.5);
$card-red: rgba(207, 41, 41, 0.6);
$card-blue: rgba(0, 88, 221, 0.6);
