$page: 1169px;

$laptop: 991px;
$tablet: 768px;

$violet: #800080;
$light: #e5e4e4;
$white: #ffffff;
$light-gray: #eaeaea;
$gray: #666666;
$dark-gray: #999999;
$green: #71c838;
$blue: #0c77bb;
$dark: #404040;
$red: red;

$h1: 30px;
$h2: 30px;
$h3: 30px;
$h4: 30px;
$h5: 30px;
$h6: 30px;

$Fsmall: 12px;

