@import './_index.scss';

a,
a:link,
a:hover,
a:visited,
a:active {
	text-decoration: none;
	color: $blue;
}

body {
	height: 100vh;
	font-family: Arial;
	background: linear-gradient(42deg, rgba(102,0,102,1) 0%, rgba(194,0,194,1) 100%);

}

hr {
	max-width: 991px;
	margin: 0 auto 30px;
	padding: 0;
	border: solid 1px $light;
}

.prj-form {
	position: absolute;
	width: 100%;
	max-width: 1169px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: $white;
	box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
}

//prj-header START
.prj-header {
	max-width: $page;
	margin: 0 auto;
	padding-top: 90px;
}
//prj-header END

//prj-header-title START
.prj-header-title {
	font-size: $h1;
	font-weight: 700;
	line-height: 34px;
	color: #000000;

	&.prj-header-title--gray {
		color: $gray;
	}
}
//prj-header-title END

//prj-main START
.prj-main {
	max-width: $page;
	margin: 0 auto;
	padding-bottom: 66px;
	background: $white;
}
//prj-main END
//
//prj-wrap start
.prj-wrap {
	display: flex;
	align-items: baseline;
	max-width: 991px;
	margin: 0 auto;
	padding-bottom: 31px;

	&.prj-wrap--first {
		padding-bottom: 10px;
	}

	&.prj-wrap--pass {
		padding-bottom: 40px;
	}

	&.prj-wrap--checkbox {
		align-items: center;
		height: 69px;
		padding-top: 10px;

		.prj-wrap__right {
			@media (max-width: $tablet) {
				flex-flow: row nowrap;
			}
		}
		.prj-input-desc {
			padding-left: 11px;
			@media (max-width: $tablet) {
				padding-left: 0;
			}
		}
	}
}

.prj-wrap__left {
	width: 100%;
	max-width: 234px;
	font-size: 21px;
	line-height: 19px;
	padding-left: 11px;

	@media (max-width: $laptop) {
		display: none;
	}
}

.prj-wrap__right {
	display: flex;
	flex: 1 1 0;
	justify-content: flex-start;
	align-items: baseline;
	font-size: 12px;
	line-height: 20px;
	color: $dark-gray;

	@media (max-width: $laptop) {
		padding-right: 24px;
		padding-left: 24px;
	}
	@media (max-width: $tablet) {
		flex-flow: column wrap;
		align-items: center;
	}

	&.prj-wrap__right--first {
		max-width: 503px;
	}

	&.prj-wrap__right--check {
		align-items: center;
		@media (max-width: $tablet) {
			justify-content: center;
		}
	}
}
//prj-wrap end

//rj-input START
.prj-input {
	width: 100%;
	max-width: 335px;
	position: relative;
	min-height: 31px;
	padding: 0 0 0 8px;
	font-size: 16px;
	line-height: 19px;
	border: solid 1px $dark-gray;
	
	&.prj-input--error {
	border: solid 1px red;
	}
}
//prj-input END

//prj-input-desc START
.prj-input-desc {
	padding-left: 20px;

	@media (max-width: $tablet) {
		padding-left: 0;
	}
	&.prj-input-desc--check {
		font-size: 16px;
		line-height: 19px;
		color: #000000;
		@media (max-width: $tablet) {
			display: inline-block;
		}
	}
	&.prj-input-desc--btn {
		padding-left: 11px;
	}
}
//prj-input-desc END




//prj-input-checkbox START
input.prj-input-checkbox {
	@media (max-width: $tablet) {
		margin: 18px;
	}
}
//prj-input-checkbox END

//prj-error START
.prj-error {
    position: absolute;
    bottom: -18px;
    left: 0;
		color: $red;
}
//prj-error END
